# Flask is a micro web framework written in Python and based on the Werkzeug toolkit and Jinja2 template engine
Flask

# Simple integration of Flask and WTForms, including CSRF, file upload, and reCAPTCHA
Flask-WTF