<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{title}}</title>

		<meta name="description" content="{{description}}">

		<link rel="stylesheet" href="{{ url_for('static',filename='css/reveal.css') }}">
	        <link rel="stylesheet" href="{{ url_for('static',filename='css/theme/') }}{{style}}" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ url_for('static',filename='lib/css/zenburn.css') }}">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section data-markdown="{{ url_for('static',filename='slides/') }}{{filen}}" data-charset="utf-8" data-separator="^\r?\n---\r?\n$" data-separator-vertical="^\r?\n----\r?\n$"> </section>
			</div>
		</div>

		<script src="{{ url_for('static',filename='lib/js/head.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/reveal.js') }}"></script>

		<script>
			// More info about config & dependencies:	
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: "{{ url_for('static',filename='plugin/markdown/marked.js') }}" },
					{ src: "{{ url_for('static',filename='plugin/markdown/markdown.js') }}" },
					{ src: "{{ url_for('static',filename='plugin/notes/notes.js') }}", async: true },
					{ src: "{{ url_for('static',filename='plugin/highlight/highlight.js') }}", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				]
			});
		</script>
	</body>
</html>
